&
    rect
        shape-rendering crispEdges
    g.fullData
        rect
            fill #aaa
    g.currentData
        rect
            fill HNBlue
    g.brush
        .extent
            fill-opacity 0.02
            shape-rendering crispEdges
        .resize
            rect.border
                fill-opacity 0.1
