&
    margin-bottom 30px
    &:nth-child(even)
        margin-left 40px
    rect
        shape-rendering crispEdges
    g.fullData
        rect
            fill #d8
    g.currentData
        rect
            fill HNBlue
    g.brush
        .extent
            fill-opacity 0.02
            shape-rendering crispEdges
        .axisLine
            shape-rendering crispEdges
            stroke darken(HNBlue, 30%)

        .resize
            rect.border
                fill HNBlue
                fill-opacity 0.4
    text.heading
        font-size 0.8em
        text-transform uppercase
        fill #666
    .axis
        path
            shape-rendering crispEdges
            stroke #a5
        .tick
            line
                stroke #a5
                shape-rendering crispEdges
            text
                font-size 0.7em
            &.active
                text
                    fill darken(HNBlue, 30%)
                line
                    stroke darken(HNBlue, 30%)
