&
    position absolute
    background white
    z-index 2
    padding-bottom 30px
    top 0px
    &.fixed
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* W3C */
        position fixed
    .zeroLine
        stroke #6
        shape-rendering crispEdges
    .party
        text
            fill #3
        text.partyName
        text.partyResult
        text.partyDifference
            text-anchor middle
        text.partyName
            font-size 0.8em
            font-variant small-caps
        text.partyResult
        text.partyDifference
            font-size 0.72em
        text.partyDifference
            font-size  0.7em
        rect.diff
            fill #fc8d59
            &.positive
                fill #91cf60

    .totals
        text
            fill darken(desaturate(HNBlue, 50%), 50%)
            font-variant small-caps
            text-anchor middle
            font-size 0.8em
            &.percent
                font-size 0.72em
            &.disableButton
                font-size 0.8em
                &.active
                    font-size 1.1em
                    fill darken(HNBlue, 30%)
                    cursor pointer
                    &:hover
                        fill HNBlue
