&
    position absolute
    top 0px
    left 0px
    .zeroLine
        stroke #6
        shape-rendering crispEdges
    .party
        text.partyName
            font-size 0.8em
            font-variant small-caps
        // rect.default
        //     opacity 0.5
        rect.diff
            fill #fc8d59
            &.positive
                fill #91cf60

