@import colors
@import prefixes
@import extraIg

.ig
    @import basics
.ig.base
    width 965px
    height 500px
    position relative
    .resultsArea
        @import ResultsArea
    .filterContainer
        position absolute
        top 230px

    .filter
        @import Filter
