@import colors
@import prefixes
@import extraIg

.ig
    @import basics
.ig.base
    width 965px
    height (1560px + 230px)
    position relative
    .resultsArea
        @import ResultsArea
    .filterContainer
        position absolute
        z-index 1
        top 230px

    .filter
        @import Filter
