@import colors
@import prefixes
@import extraIg

.ig
    @import basics
.ig.base
    position relative
    .resultsAreaContainer
        @import ResultsArea
    .filterContainer
        position absolute
        top 80px

    .filter
        @import Filter
